.bottomContentContents{
    padding: 2% 8% 1% 8%; 
}

.bottomContentContents p{
    color: #000033 ;
    font-family: 'Raleway',"sans serif" !important;
}

.bottomContent{
    margin-top:2px;
    min-height: 10vh;
    background-color: #f8f1f1;
    align-items: center;
    align-content: center;
}

.bottomTitle h3{
    color :#000033;
    text-align: center;
    font-weight:bolder;
}


@media(max-width:576px){
    .bottomContentContents p{
    color: #000033 ;
    font-family: 'Raleway',"sans serif" !important;
}
}