.events {
  background: rgba(15, 12, 12, 0.9);
  
  padding: 0% 8% 0% 8%;
  margin-bottom: 0px;
   /* background-image: url(../assets/bg_stars.jpg); */

}

.eventContent{
  box-shadow: 500px ,100px, rgb(219, 14, 14);
}

.rowTitle {
  text-decoration: underline;
  text-decoration-color: grey;
  color: rgb(253, 253, 253);
}

.carousel {
  width: auto;
  height: auto;
  
  /* border: 1px solid black; */
}

.carousel .thumb img {
  width: 100% !important;
  max-height: 50px !important;
}

.carousel .slide img {
  max-height: 400px; /* change this to whatever you want */
  object-fit: contain;
 align-content: center;
  width: auto;
}

.eventreg h2 {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.holds-the-iframe {
  background:url(../assets/logo2.png) center center no-repeat;
}