.footer {
    background: #302e2ece;
    padding: 0% 1% 0% 1%;
    margin-top: 0%;
}

.footerContent{
    width: 100%;
    min-height: 50vh;
    margin: 0%;
    text-align: justify;
}



.footer p{
    color: white;
}