    .nav-wrapper{
    font-family: 'Bebas Neue', cursive;    
    color:rgb(0, 0, 0);
    display: block;
}
.sidenav{
    font-family: 'Bebas Neue';
    color:white;
}



nav{
    box-shadow: none;    
    text-decoration: none;
    display: block;
}
.sidenav-trigger{
    color:white;
    cursor: pointer;
}
.logoimg{
    padding:5px;
}
